[Desktop Entry]
Type=Application
Name=wzrd6
Comment=investigate wireless protocols like a boss
Exec=/usr/bin/wzrd6
Icon=wzrd6
Terminal=false
Categories=HamRadio
